[sync]
package_name = @@PACKAGE_NAME@@
sync_label = @@SYNC_LABEL@@
sync_user_name = @@SYNC_USER_NAME@@
sync_user_email = @@SYNC_USER_EMAIL@@
sync_token_login = @@SYNC_TOKEN_LOGIN@@
source_root = @@SOURCE_ROOT@@
public_repo = @@PUBLIC_REPO@@
source_repo = @@SOURCE_REPO@@
copybarista_project_path = @@COPYBARISTA_PROJECT_PATH@@
smoke_import = @@SMOKE_IMPORT@@
export_branch_prefix = @@EXPORT_BRANCH_PREFIX@@
import_branch_prefix = @@IMPORT_BRANCH_PREFIX@@
type_check_targets = [
@@TYPE_CHECK_TARGETS@@
]
forbidden_pr_text = [
@@FORBIDDEN_PR_TEXT@@
]
validation_python_versions = [
@@VALIDATION_PYTHON_VERSIONS@@
]
validation_commands = [
@@VALIDATION_COMMANDS@@
]
refresh_public_lockfile = @@REFRESH_PUBLIC_LOCKFILE@@

[pull_request]
default_title = @@PR_DEFAULT_TITLE@@
default_body = @@PR_DEFAULT_BODY@@
require_pr_metadata = @@REQUIRE_PR_METADATA@@
metadata_source = @@PR_METADATA_SOURCE@@
replay_bootstrap_base = @@REPLAY_BOOTSTRAP_BASE@@
publish_source_rev = @@PUBLISH_SOURCE_REV@@
